<div>
	<h1>Quotes, INC</h1>
	<p>Who quotes the quoters?</p>
</div>
  <form method="POST" action="POST">
    <div class="form-group col-md-4">
      <input name="name" class="form-control" placeholder="Name"/>
    </div>
    <div class="form-group col-md-4">
      <input name="color"  class="form-control" placeholder="Quotes"/>
    </div>
      <div class="form-group col-md-4">
        <input class="btn btn-info col-md-12" type="submit" value="Submit">
      </div>
  </form>

</fieldset>